@model List<EcoSphere.Models.CreaturesViewModel>
@{
	ViewData["Title"] = "Creatures Details";

}
<h3>@ViewData["Title"] </h3>
<hr />
<form>
	   <a href="/CreaturesView/AddCreature">    
	<button type="button" class="btn btn-primary" id="add-new-class-btn">Go to Creature Add</button>
		</a>
	<table class="table table-responsive table-hover">
		<thead>
			<tr class="table-active">
				<th> Upper Realm</th> 
				<th> Kingdom </th>
				<th> Phylum </th>
				<th> Class </th> 
				<th> Order </th>
				<th> Family</th> 
				<th> Genus</th>
				<th> Species</th> 
				<th> Sub Species </th> 
				<th> IUCN</th> 
				<th>Author </th>
				<th> Scientific Name</th> 
				<th>Common Name </th> 
			</tr>
		</thead> 
		<tbody>
			@if (Model != null && Model.Any())
			{
				@foreach (var creatures in Model)
					{
						<tr>
							<td>@creatures.UpperRealmName</td>
							<td>@creatures.KingdomName</td>							
							<td>@creatures.PhylumName</td>
							<td>@creatures.ClassName</td>
							<td>@creatures.OrderName</td>
							<td>@creatures.FamilyName</td>							
							<td>@creatures.GenusName</td>
							<td>@creatures.SpeciesName</td>
							<td>@creatures.SubspeciesName</td>
							<td>@creatures.IucnCode</td>							
							<td>@creatures.AuthorName</td>
							<td>@creatures.ScientificName</td>
							<td>@creatures.CommonName</td>
							<td>
								<div class="btn-group btn-group-sm">
									<a asp-controller="Creatures" asp-action="Edit" asp-route-id="@creatures.CreatureId" class="btn btn-primary">Edit</a>
									<a asp-controller="Creatures" asp-action="Delete" asp-route-id="@creatures.CreatureId" class="btn btn-danger">Delete</a>
 								</div>
							</td>
						</tr>
						
					}

			}
			else
			{
				<tr>
					<td colspan="14">
						<div>
							No Creatures Available
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>