@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yönetim Paneli</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Boostrap 4 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcoSphere.styles.css" asp-append-version="true" />
    <!-- Yerel FontAwesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <!-- Yerel SB-Admin -->
    <link rel="stylesheet" href="~/lib/sb-admin-2/css/sb-admin-2.min.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/4_dkm_ikon_kare.png" />
    @RenderSection("Styles", required: false)
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#010D00">
        <a class="navbar-brand" href="@Url.Action("Index", "Admin")">EcoSphere Yönetim Paneli</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="background-color:#011200">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Index", "Admin")">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Gösterge Paneli</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kullanıcı Paneli">
                        <a class="nav-link" href="@Url.Action("UserManagement", "Admin")">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Kullanıcı Paneli</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Log Paneli">
                    <a class="nav-link" href="@Url.Action("LogManagement", "Admin")">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Log Paneli</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Data Paneli</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="@Url.Action("SpeciesManagement", "Admin")">Tür Yönetim Paneli</a>
                        </li>
                    </ul>
                </li>
                
                
                
            </ul>

            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" style="background-color:#010D00 !important" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>


            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Panelden Çık
                    </a>
                </li>
            </ul>
        </div>
    </nav>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ayrılmaya Hazır Mısınız?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                <div class="modal-body">Mevcut oturumunuzu sonlandırmaya hazırsanız aşağıdaki "Çıkış"ı seçin.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" style="color:#ffffff" href="@Url.Action("Index", "Home")">Çıkış</a>
                    </div>
                </div>
            </div>
        </div>


    <div class="content-wrapper admin-container">
        <main>
            @RenderBody()
        </main>
    </div>





    <!-- jQuery önce -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 Bundle (Popper + JS) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SB-Admin-2 -->
    <script src="~/lib/sb-admin-2/js/sb-admin-2.min.js"></script>
    <script src="~/js/AdminLayout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>